<div class="row mb-2">
    <div class="col text-center mt-3 mb-3">
        <h5>
            Bienvenidos a <b>TeleMed</b> aquí encontrarás a los mejores doctores que te atenderán el día que desees <br>
            {{!-- Soy Vanessa Campuzano --}}
        </h5>
    </div>
</div>
{{!-- <div class="row">
    <div class="col mt-3 text-center">
        <h2>¡Por qué conocer más sobre nuestra página!</h2>
    </div>
 </div>

<div class="row mb-4">
    <div class="col mt-3 text-center">
        <h2>Misión y Visión</h2>
    </div>
 </div>

 <div id="carouselExampleSlidesOnly" class="carousel slide mb-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img1.jpeg" class="d-block w-100" style="height: 270px;" alt="...">
        </div>
       
    </div>
</div>

--}}
<div class="row mt-3">
    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" >
            {{!-- <div class="card-header border-primary">Nuestra Misión</div> --}}
            {{!-- <div class="card-body"> --}}
               <img src="/assets/top1.jpg" style="height: 250px;" alt="">
            {{!-- </div> --}}
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" style="margin-top: 70px;">
            {{!-- <div class="card-header border-primary">Nuestra Visión</div> --}}
            <div class="card-body">
                <p class="card-text">
                    Ayudamos a los cuidadanos ya que en tiempos de pandemia es mejor quedarse en casa.
                </p>
            </div>
        </div>
    </div>
</div> 
<div class="row mt-3">
    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" style="margin-top: 70px;">
            {{!-- <div class="card-header border-primary">Nuestra Misión</div> --}}
            <div class="card-body">
                <p class="card-text">
                    Encontrarás doctores de diferentes especialidades, diagnosticándote desde tu casa.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" >
               <img src="/assets/top.jpg" style="height: 250px;" alt="">
        </div>
    </div>
</div> 
<div class="row mb-2">
    <div class="col text-center mt-3 mb-3">
        <h5>
            Elaborado por: <b>KAROL XIMENA MERO</b> 
            {{!-- Soy Vanessa Campuzano --}}
        </h5>
    </div>
</div>