<div class="row">
    <div class="col text-center mb-3">
        <h3 class="titulo">Solicita una cita virtual en las siguientes especialidades</h3>
    </div>
</div>
<main>


<div class="row mb-4">
    <div class="col">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{!-- <div class="carousel-item active">
                    <img src="assets/bg.jpg" class="d-block w-100" style="height: 250px;" alt="...">
                </div> --}}
                <div class="carousel-item active">
                    <img src="assets/bg1.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
             {{#each Comp}}
    <div class="ml-4 col text-center ">
        <div class="card mb-3" style="width: 18rem;">
            <img src={{url}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                   <b> {{espec}}</b>
                    </h5>
                {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Doctor: {{doc}}</li>
                <li class="list-group-item">{{titulo}}</li>
                <li class="list-group-item">{{estado}}</li>
            </ul>
            <div class="card-body">
                {{!-- <a href="#" class="card-link">Card link</a> --}}
                <a href="/users/formulario" class="card-link">Reservar cita médica</a>
            </div>
        </div>
    </div>
        {{/each}}
</div>


</main>
    {{!-- <div class="row mb-4">
         {{#each Comp}}
        <div class="col-md-4 text-center">
            <div class="card" style="width: 18rem;">
                <img src={{url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{desc}}</p>
                    
                    <a href="/users/formulario" type="button" class="btn btn-outline-info btn-block ">
                        Regístrate
                    </a>
                     <div class="card-footer text-muted">
                        {{edades}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div> --}}
     {{!-- <div class="row btnSecundario">
        <div class="col-sm-12 col-md-6 mt-3 uno">
            <a href="/users/signin" type="button" class="btn btn-outline-secondary btn-block">
                Iniciar Sesión
            </a>
        </div>
        <div class="col mt-3 dos">
            <a href="/users/signup" type="button" class="btn btn-outline-info btn-block ">
                Regístrate
            </a>
        </div>
    </div> --}}

    {{!-- <div class="col-md-4 mx-auto mt-4">
        <a href="/users/signin" type="button" class="btn btn-outline-secondary btn-block">
                Iniciar Sesión Admin
            </a>
    </div> --}}