<div class="row">
    <div class="col mb-4 mt-3 text-center">
        <h2>
            Lista de personas Ingresadas a los cursos virtuales!
        </h2>
    </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Cédula</th>
      <th scope="col">Estado</th>
      <th scope="col">Competencia</th>
      <th scope="col">Edad</th>
    </tr>
  </thead>
  <tbody>
        {{#each form}}

    <tr>
      <th scope="row">
        
      </th>
      <td>{{name}}</td>
      <td>{{iden}}</td>
      <td>{{estado}}</td>
      <td>{{comp}}</td>
      <td>{{edades}}</td>
    </tr>
          {{/each}}

   
  </tbody>
</table>




        
