.formC {
    margin: 0 auto 10px auto;
    font-weight: 400;
}

.contor {
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(38, 79, 141, 0.582);
}

.contor1 {
    /* margin: auto 0; */
    box-shadow: 0 0 20px 0 rgba(14, 172, 183, 0.582);
    background: rgb(14, 172, 183);
    color: #fff;
    transition: background-color 1s ease-out;
}

.interior {
    margin-bottom: 0px;
}

.interior ul {
    list-style: none;
    padding: 0;
}

.cont {
    font-weight: 400;
    margin-bottom: 10px;
}

.borI {
    padding: 10px;
}

.form-group input {
    border-radius: 30px;
    background-color: #c2c2c2;
}

.form-group textarea {
    background-color: #c2c2c2;
}

.form-group button {
    margin-top: 15px;
    border-radius: 30px;
}

@media(max-width: 730px) {
    .formC {
        margin: 20px auto;
        font-size: 35px;
    }
}

@media(max-width: 500px) {
    .formC {
        font-size: 27px;
    }
}

@media(max-width: 404px) {
    .formC {
        margin: 15px auto;
        font-size: 25px;
    }
}