.bienvenido {
    font-weight: 600;
}

.txt {
    font-size: 15px;
    margin: 0 auto;
}

.fila {}

.imgSign {
    width: 60px;
    height: 60px;
    margin: 5px auto;
}

.form-control {
    border-radius: 30px;
    background-color: #f2f2f2;
}

.recuperar {
    text-align: right;
    margin: 10px 0;
    font-size: 15px;
}

.recuperar a:hover {
    background-color: #fff;
}

.sign {
    border-radius: 30px;
}

.registrar {
    margin: 20px 0;
    font-size: 15px;
}

.registrar a:hover {
    background-color: #fff;
}

.linea {
    background-color: #1b9bff;
    margin-bottom: 30px;
}

.google {
    border-radius: 30px;
}

.google:hover {
    color: #fff;
}

.face {
    border-color: #31487D;
    border-radius: 30px;
    color: #262744;
}

.face:hover {
    color: #fff;
    background-color: #31487D;
    border-color: #31487D;
}