{{!-- Cuerpo --}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar</h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT" >
                
                {{!-- <div class="form-group">
                    <textarea type="text" name="name" class="form-control" placeholder="Nombre">{{note.name}}</textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" name="edades" class="form-control" placeholder="De que edades"> {{note.edades}}</textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" name="url" class="form-control" placeholder="Url">{{note.url}}</textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" name="desc" class="form-control" placeholder="descripción">{{note.desc}}</textarea>
                </div> --}}

                <div class="form-group">
                    <input type="text" name="espec" class="form-control" placeholder="Especialidad" value={{note.espec}} autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="doc" class="form-control" placeholder="Nombre del doctor" value={{note.doc}} autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="titulo" class="form-control" placeholder="Profesión" value={{note.titulo}} autofocus>
                </div>
                {{!-- <div class="form-group">
                    <input type="text" name="estado" class="form-control" placeholder="Estado" value={{note.estado}} autofocus>
                </div> --}}
                 <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="estado" value={{note.espec}} >
                    <option>Diponible</option>
                    <option>Ocupado</option>
                    <option>En vacaciones</option>
                    </select>
                </div>
             
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="Url" value={{note.url}}></textarea>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info btn-block" >
                        Editar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>