{{!-- Alertas --}}



{{!-- Cuerpo --}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Agregar</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
               
                <div class="form-group">
                    <input type="text" name="espec" class="form-control" placeholder="Especialidad" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="doc" class="form-control" placeholder="Nombre del doctor" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="titulo" class="form-control" placeholder="Profesión" autofocus>
                </div>
                {{!-- <div class="form-group">
                    <input type="text" name="estado" class="form-control" placeholder="Estado" autofocus>
                </div> --}}
                 <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="estado">
                    <option>Diponible</option>
                    <option>Ocupado</option>
                    <option>En vacaciones</option>
                    </select>
                </div>
             
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="Url"></textarea>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info btn-block" >
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>