<div class="row mt-2 mb-4">
    <div class="col text-center">
        <h2>Registros de citas médicas!</h2>
    </div>
</div>




<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Cédula</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Doctor</th>
      <th scope="col">Estado</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
    </tr>
  </thead>
  <tbody>
        {{#each form}}

    <tr>
      <th scope="row">
          <a href="/notes/editP/{{_id}}">
                <i class="fa fa-edit"></i>
            </a>
      </th>
      <td>{{name}}</td>
      <td>{{iden}}</td>
      <td>{{espec}}</td>
      <td>{{doc}}</td>
      <td>{{estado}}</td>
      <td>{{fecha}}</td>
      <td>{{hora}}</td>
    </tr>
          {{/each}}

   
  </tbody>
</table>