<link rel="stylesheet" href="/css/signup.css">

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
        <div class="card">
            <div class="enlace">
                    <a href="/">- Regresar</a>
                </div>
            <div class="arribaR">
                {{!-- <h6 class="txt">Postulación usuario</h6> --}}
                <h3 class="bienvenido">Reserva cita</h3>
                <img src="/assets/logo3.png" alt="" class="imgUser">
            </div>
             <div class="card-body">
                    <form action="/users/formulario" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombres Completos" class="form-control" value="{{name}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="iden" placeholder="Cédula" class="form-control" value="{{iden}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control" value="{{email}}">
                        </div>
                        <div class="form-group">
                            {{!-- <label for="exampleFormControlSelect1">Example select</label> --}}
                            <select class="form-control" id="exampleFormControlSelect1" name="espec">
                                {{#each notes}}
                            <option>{{espec}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            {{!-- <label for="exampleFormControlSelect1">Example select</label> --}}
                            <select class="form-control" id="exampleFormControlSelect1" name="doc">
                                {{#each notes}}
                            <option>{{doc}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="fecha" placeholder="dd/mm/yy" class="form-control"  autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="hora" placeholder="hh/mm/: am|pm" class="form-control" autofocus >
                        </div>
                       
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success btn-block registrar">
                                Reservar
                            </button>
                        </div>
                    </form>
                        <p class="condiciones text-center">
                            Al crear tu cuenta también aceptas nuestros terminos y condiciones.
                        </p>
            </div>
        </div>
    </div>
</div>
